{% extends 'layouts/index.html'%} {% block title %} Configuraci&oacute;n {% endblock %} 
{% block content %}

<h2 class="mb-4">Configuraci&oacute;n de Criterios</h2>
<div class="row">
    <p>Aquí se hace una descripción de lo que permite realizar este módulo.</p>
    <hr>
  <div class="col-md-4 mb-4">
    <div class="card">
      <h5 class="card-header">Ausencia Departamentales</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="/ausencia" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <h5 class="card-header">Usuarios SATRA</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="/usuarios_satra" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card">
      <h5 class="card-header">Modelos</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="/modelos" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
</div>

<a href="/home" class="btn btn-secondary mt-4">Volver</a>

{% endblock %}
