{% extends 'layouts/index.html'%} {% block title %} Encuesta {% endblock %} 
{% block content %}

<h2 class="mb-4">Encuesta</h2>
<div class="row">
    <p>Aquí se hace una descripción de lo que permite realizar este módulo.</p>
    <hr>
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">Entrevista</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">An&aacute;lisis</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
</div>

<a href="/home" class="btn btn-secondary mt-4">Volver</a>

{% endblock %}
