{% extends 'layouts/index.html'%} 
{% block title %} Home {% endblock %} 
{% block content %}

<h2 class="mb-4">Sistema de Alerta Temprana de Retención de Alumnos</h2>

<div class="row">
  <p>Aquí se hace una descripción general del módulo de configuración.</p>
  <hr />
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="card">
        <h5 class="card-header">Configuraci&oacute;n</h5>
        <div class="card-body">
          <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
          </p>
          <a href="/configuracion" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card">
        <h5 class="card-header">Simulaci&oacute;n Universos</h5>
        <div class="card-body">
          <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
          </p>
          <a href="#" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card">
        <h5 class="card-header">Encuestas</h5>
        <div class="card-body">
          <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
          </p>
          <a href="/encuestas" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card">
        <h5 class="card-header">Gesti&oacute;n</h5>
        <div class="card-body">
          <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
          </p>
          <a href="/gestion" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
