{% extends 'layouts/index_gestion.html'%} 
{% block title %} Encuesta {% endblock %} 
{% load static %}
{% block content %}

<h2 class="mb-4">Encuesta</h2>
<div class="row">
    <p>Aquí se hace una descripción de lo que permite realizar este módulo.</p>
    <hr>
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">Entrevista</h5>
      <div class="card-body">
        <div id="external-events">
          <h4>Eventos Arrastrables</h4>
          <div class="fc-event">Evento 1</div>
          <div class="fc-event">Evento 2</div>
          <div class="fc-event">Evento 3</div>
          <div class="fc-event">Evento 4</div>
          <div class="fc-event">Evento 5</div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">An&aacute;lisis</h5>
      <div class="card-body">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
</div>

<a href="/home" class="btn btn-secondary mt-4">Volver</a>

{% endblock %}
{% block scripts %} 
<script src="{% static '/js/index_global_min.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script> -->
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var externalEventsEl = document.getElementById('external-events');

    new FullCalendar.Draggable(externalEventsEl, {
      itemSelector: '.fc-event',
      eventData: function(eventEl) {
        return {
          title: eventEl.innerText.trim()
        };
      }
    });

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'timeGridWeek',
      locale: 'es',
      editable: true, // Permite arrastrar y soltar
      droppable: true, // Permite soltar eventos
      weekends: false, // Oculta los fines de semana
      firstDay: 1, // Parte del lunes
      allDaySlot: false,
      slotMinTime: '08:00:00', // Hora de inicio (8:00 a.m.)
      slotMaxTime: '21:00:00', // Hora de finalización (7:00 p.m.)
      buttonText: {
        today: 'Hoy'
      },
      eventClick: function(info) {
        //Elimina el evento al hacer clic en él
        alert("evento removido o editado")
        info.event.remove();
      },
      eventDrop: function(info) {
        // Callback cuando un evento es arrastrado y soltado
        alert('Evento arrastrado a: ' + info.event.start);
        alert('Horario antiguo inicio: ' + info.oldEvent.start);
      },
      selectable: true, // Permite seleccionar horas para crear eventos
      select: function(arg) { // Callback al seleccionar una hora
        var title = prompt('Nombre del evento:');
        if (title) {
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: false // Indica que el evento no es de todo el día
          });
        }
        calendar.unselect(); // Desmarca la selección después de añadir el evento
        },
    });
    calendar.render();
  });

</script>

{% endblock %}
