{% extends 'layouts/index.html'%} {% block title %} CARRERA {% endblock %} 
{% block content %}

<h2 class="mb-4">Carrera</h2>

<div class="row">
    <p>Aquí se hace una descripción de lo que permite realizar este módulo.</p>
    <hr>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Toma De Ramos</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/toma_ramos" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Asistencia Clases</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/asistencia_clases" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Notas Parciales</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/notas_parciales" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Inasistencia Departamentales</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/inasistencia_departamentales" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Notas Departamentales</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/notas_departamentales" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Rendimiento Semestre Previo</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/rendimiento_previo" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
        <h5 class="card-header">Inasistencia Controles</h5>
        <div class="card-body">
            <p>
            Aquí se hace una descripción de lo que permite realizar este módulo.
            </p>
            <a href="/inasistencia_controles" class="btn btn-primary">Ver detalles</a>
        </div>
        </div>
    </div>
</div>


<a href="/modelos" class="btn btn-secondary mt-4">Volver</a>

{% endblock %}
