{% extends 'layouts/index.html'%} {% block title %} Modelos {% endblock %} 
{% block content %}

<h2 class="mb-4">Modelos</h2>
<div class="row">
  <p>Aquí se hace una descripción de lo que permite realizar este módulo.</p>
  <hr>
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">Primer A&ntilde;o</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="/primer_anio" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <h5 class="card-header">Carrera</h5>
      <div class="card-body">
        <p>
          Aquí se hace una descripción de lo que permite realizar este módulo.
        </p>
        <a href="/carrera" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>
</div>

<a href="/home" class="btn btn-secondary mt-4">Volver</a>

{% endblock %}
