<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Escuela de Contadores Auditores de Santiago - {% block title %} {% endblock %}
    </title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <header class="bg-primary text-white">
      <div class="container">
        <h1 class="mb-0">Escuela de Contadores Auditores de Santiago</h1>
      </div>
    </header>
    <main class="container py-5">{% block content %} {% endblock %}</main>
    <footer class="bg-dark text-white mt-5">
      <div class="container">
        <p class="mb-0">
          Copyright &copy; 2024 - Escuela de Contadores Auditores de Santiago
        </p>
      </div>
    </footer>
  </body>
</html>
