{% extends 'layouts/index.html' %}
{% load static %}
{% block title %} Encuestas - Entrevista{% endblock %} 
{% block content %}
<h2>Entrevista</h2>
<div class="row">
  <div class="col-md">
    <div class="row">
      <div class="col-8">
        
        <p>Descripci&oacute;n de la entrevista</p>
      </div>
      <div class="col-4">
          <a href="/encuestas" class="btn btn-secondary">Volver</a>
      </div>
    </div>

    <form id ="form_entrevista">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-6">
              <label for="id_alumno">Rut: </label>
              <select class="form-control" id="id_alumno" required>
                  <option value="">Seleccionar</option>
                  {% for alumno in alumnos %}
                      <option value={{ alumno.0}}> {{ alumno.1}} - {{alumno.2}}</option>
                  {% endfor %}
              </select>
          </div>
      </div>

      <div class="row mt-3">
        <div class="col" style="max-height: 500px; overflow-y: auto; border: 1px solid black;">
            {% for pregunta in cuestionario %}
                {% if pregunta.pregunta_id == 25 %}
                  <h3>Que tan importante es para usted…</h3>
                  <hr>
                {% endif %}
                <div class="form-group" data-numero-pregunta="{{pregunta.pregunta_id}}">
                  <h5>{{ pregunta.pregunta_id }} - {{ pregunta.pregunta }}</h5>
                  {% if pregunta.pregunta_id != 34 %}
                    {% for respuesta in pregunta.respuestas %}
                      <div class="form-check">
                        <label class="form-check-label" for="respuesta{{ respuesta.respuesta_id }}">{{ respuesta.respuesta }}</label>
                        <input class="form-check-input" type="radio" name="pregunta{{ pregunta.pregunta_id }}" id="respuesta{{ respuesta.respuesta_id }}" value="{{ respuesta.respuesta_id }}" required>
                      </div>
                    {% endfor %}
                  {% else %}
                    <input class="form-control" type="text" name="pregunta{{ pregunta.pregunta_id }}" id="respuesta{{ respuesta.respuesta_id }}" pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ\s]+" title="Solo se permiten letras, espacios y acentos" required>
                  {% endif %}
                  <hr>
                </div>
               
            {% endfor %}
        </div>
    </div>

      <div class="row mt-3">
        <div class="col-md-6 text-end">
          <button type="submit" class="btn btn-primary">Ingresar Encuesta</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static './js/scripts_encuestas.js' %}"></script>

{% endblock %}